# Default values for cryptpad-helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

# Enable to choose witch kind of workload will be used: (true) StatefulSet or (false) for Deployment
workloadStateful: true

image:
  pullPolicy: IfNotPresent
  repository: cryptpad/cryptpad
  tag: "version-5.4.0"
  # repository: git.xwikisas.com:5050/xwiki-cloud-infrastructure/docker-images/cryptpad
  # tag: "latest"

# https://docs.cryptpad.org/en/admin_guide/customization.html#application-config
application_config:
  # Check all the configurable values: https://github.com/xwiki-labs/cryptpad/blob/main/www/common/application_config_internal.js
  # availableLanguages: [ 'en', 'fr', 'de' ]
  # privacy: |
  #  {
  #    "default": 'https://example.com/privacy.html',
  #    "en": 'https://example.com/privacy.en.html', // in case English is not your default language
  #    "fr": 'https://example.com/privacy.fr.html', // another language
  #    "de": 'https://example.com/privacy.de.html', // you get the idea?
  #  }

cpadConfig: "/cryptpad/config/config.js"

# https://docs.cryptpad.org/en/admin_guide/installation.html#admin-cryptpad-config
config:
  #########################
  # NETWORK CONFIGURATION #
  #########################
  httpAddress: '0.0.0.0'

  ####################
  # Database Volumes #
  ####################
  filePath: './datastore/'
  archivePath: './data/archive'
  pinPath: './data/pins'
  taskPath: './data/tasks'
  blockPath: './block'
  blobPath: './blob'
  blobStagingPath: './data/blobstage'
  decreePath: './data/decrees'
  logPath: './data/logs'

  #############
  # Debugging #
  #############
  verbose: false
  logToStdout: false
  logLevel: 'info'
  logFeedback: false

  # Surplus information
  installMethod: 'helm-docker'

  # Administrator keys
  # https://docs.cryptpad.org/en/admin_guide/installation.html#configure-administrators
  adminKeys: []
  # adminKeys: [
  #   "[cryptpad-user1@my.awesome.website/YZgXQxKR0Rcb6r6CmxHPdAGLVludrAF2lEnkbx1vVOo=]",
  # ]

# Check values on https://github.com/xwiki-labs/cryptpad-docker#environment-variables
# For CPAD_MAIN_DOMAIN and CPAD_SANDBOX_DOMAIN values httpUnsafeOrigin and httpSafeOrigin will be used.
apiDomain: ""
filesDomain: ""
trustedProxy: ""
realIpHeader: ""
realIpRecursive: ""
tlsCert: ""
tlsKey: ""
tlsDhParam: ""
http2Disable: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}

podSecurityContext:
  fsGroup: 4001

securityContext: {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

service:
  portName: node
  name: http
  type: ClusterIP
  externalPort: 80
  internalPort: http
  # Set an array of externalIPs for the service
  externalIPs: []
    # - 10.20.30.40
    # - 10.20.30.41
  # Reference: https://kubernetes.io/docs/reference/networking/virtual-ips/#session-affinity
  sessionAffinity: ClientIP

ingress:
  enabled: false
  className: ""
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hosts:
    - host: localhost
      paths:
        - path: /
          pathType: ImplementationSpecific
  tls: []
  #  - secretName: secret-tls

resources: {}
  # We usually recommend not to specify default resources and to leave this as a conscious
  # choice for the user. This also increases chances charts run on environments with little
  # resources, such as Minikube. If you do want to specify resources, uncomment the following
  # lines, adjust them as necessary, and remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

nodeSelector: {}

tolerations: []

affinity: {}

persistence:
  enabled: true
  cryptpad:
    blob:
      existingClaim: ""
      storageClass: ""
      accessModes:
        - ReadWriteOnce
      size: "100Mi"
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
    block:
      existingClaim: ""
      storageClass: ""
      accessModes:
        - ReadWriteOnce
      size: "100Mi"
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
    data:
      existingClaim: ""
      storageClass: ""
      accessModes:
        - ReadWriteOnce
      size: "100Mi"
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
    datastore:
      existingClaim: ""
      storageClass: ""
      accessModes:
        - ReadWriteOnce
      size: "100Mi"
      annotations: {}
      labels: {}
      selector: {}
      dataSource: {}
