name: Releases

on:
  push:
    branches:
      - main
      - feat/**
    paths:
      - '.github/**'
      - 'charts/**'
      - '!**.md'
      - '!**.md.gotmpl'

permissions:
  contents: write
  packages: write

jobs:

  validate:
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.changed.outputs.result }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
 
      - id: changed
        name: Changed
        run: |
          # Improve this logic to detect changed version from multples merges/changes 
          files_changed="$(git show --pretty="" --name-only)"
          echo "$files_changed"
          num_version_bumps="$(echo "$files_changed" | grep Chart.yaml | xargs git show | grep -c "+version" || true)"
          if [[ "$num_version_bumps" -eq "1" ]]; then
            echo "result=ok" >> $GITHUB_OUTPUT
          else
            echo "result=skip"
            echo "::warning::Version not changed, skipping release job..."
          fi

      - name: Tests
        if: ${{ steps.changed.outputs.result == 'ok' }}
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm plugin install https://github.com/helm-unittest/helm-unittest
          for FILE in charts/*; do 
            helm dependency update $FILE
            helm unittest $FILE
          done

  release:
    needs: validate
    if: ${{ needs.validate.outputs.result == 'ok' }}
    # depending on default permission settings for your org (contents being read-only or read-write for workloads), you will have to add permissions
    # see: https://docs.github.com/en/actions/security-guides/automatic-token-authentication#modifying-the-permissions-for-the-github_token
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Install Helm
        uses: azure/setup-helm@v3

      - name: Add repos
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm plugin install https://github.com/helm-unittest/helm-unittest

      - name: Run chart-releaser
        uses: helm/chart-releaser-action@v1.5.0
        env:
          CR_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CR_RELEASE_NAME_TEMPLATE: "cryptpad-helm-{{ .Version }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
  
      - name: Push Charts to GHCR
        run: |
          shopt -s nullglob
          for pkg in .cr-release-packages/*.tgz; do
            if [ -z "${pkg:-}" ]; then
              break
            fi
            helm push  --debug  "${pkg}" oci://ghcr.io/${GITHUB_REPOSITORY_OWNER}/helm
          done
  